<html>
    <head>
        <title>Datos del Bien</title            
    </head>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
<body>
    <h1 class="text-center alert alert-danger">Registro no encontrado</h1>
</body>
</html>